body{
    background-color: rgb(215, 170, 170);
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
}
twisty-player{
    height:500px;
    width:700px;
    float:inherit
}
.div {
    display: flex;
    justify-content: center;
    height: 100vh;
}
button{
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
input{
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
select{
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}